.timer {
  margin-top: 20px;
}

.display {
  border: 10px solid #ececec;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

#time-left {
  margin-bottom: 20px;
  font-size: 18px;
}